<div class="center jumbotron" id="jumbotron">
	<h1>Welcome! to home page of blog</h1>
	<center>
    <%= link_to 'Login', login_users_path, class: 'btn btn-primary btn-lg'%>
	  <%= link_to 'sign up', new_user_path , class: 'btn btn-primary btn-lg'%> 
    </center>
</div>